.App {
  text-align: center;
  font-family: 'Merriweather', serif;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: absolute;
  width: 100%;
}

.App-header span {
  background-color: #F8F8F8;
  color: #282c34;
  padding: 5px 10px;
  border-radius: 10px;
  font-weight: bold;
}

main {
  background-color: #F8F8F8;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.city-header {
  font-size: 3rem;
}

.forecast {
  display: flex;
  flex-wrap: wrap;
}